body{
    margin-top: 88px;
}
.navbar{
    
}
.navbar .nav-item{
    font-size: 1.4rem;
    padding-right: 1.2rem;
    }
    .column1{
        line-height: 20rem;
        font-size: 20rem;
    }

    #showcase{
        min-height: 664px;
        position: relative;
        background: url(../css/img/media.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color:black;
    }
    #showcase-res{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
    }

    #introduction{
        position: relative;
        min-height:180px;
        background: url(../css/img/lights.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;
    }
    .dark-overlay{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    #skills{
        position: relative;
        min-height:164px;
        background: url(../css/img/coding5.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;
        width: 100%;
    }

    #service{
        position: relative;
        min-height:164px;
        background: url(../css/img/coding5.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;
    }
    #services{
        background-color:#eeeeee;
    }
    #workTogether{
        position: relative;
        min-height:280px;
        background: url(../css/img/media.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;   
    }
    #footer{
        background-color:#ffffdd;
    }
    #contact{
        position: relative;
        min-height:180px;
        background: url(../css/img/coding2.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;  
    }
    #plans{
        position: relative;
        min-height:180px;
        background: url(../css/img/money6.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;   
    }
    #projects{
        position: relative;
        min-height:160px;
        background: url(../css/img/coding8.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff;   
    }

    #faq .card{
        border:#444;
    }
    #faq a{
        color: #fff;
        text-decoration: none;
    }
    #faq .card-body,
    #faq .card-header{
        background: #333;
    }
    .card{
        margin-top: 16px;
    }
#showcase .heading1resp{
    font-size: 3.8rem;
    font-weight: 600;
}
#showcase .heading2resp{
    font-size: 4.0rem;
    line-height: 5rem;
    font-weight: 700;
}


    @media(max-width:700px){
        body{
            margin-top: 88px;
        }
          .navbar .nav-item{
              font-size: 1.2rem;
          }
          .navbar .navabr-brand-resp{
              font-size: 1.6rem;
          }
          .navbar .navbar-image-resp{
              width: 48;
              height: 48;
          }
          .navbar .toggler-resp{
              margin-right: 1rem;
          }
          #showcase{
              text-align: center;
          }
          #showcase .heading1resp{
              font-size: 3.2rem;
              line-height: 4.4rem;
          }
          #showcase .heading2resp{
            font-size: 3.6rem;
            line-height: 4.8rem;
            font-weight: 700;
        }
        .aboutMee .mohit-resp{
            width: 188px;
            height: 164px;
        }
        .heading-resp{
            font-size: 1.8rem;
        }
        #introduction{
            min-height: 160px;
        }
        #skills{
            min-height: 140px;
        }
        #workTogether{
            min-height: 310px;
        }
        #projects{
            min-height: 208px;
        }
        #plans{
            min-height: 164px;
        }
    }
